Repository hoechenberger/openneuro-py: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, tombi-format, tombi-lint

ruff-lint:
  run: uv run ruff check --fix {staged_files}

ruff-format:
  run: uv run ruff format {staged_files}

mypy:
  run: uv run mypy {staged_files}

tombi-format:
  run: uv run tombi format {staged_files}

tombi-lint:
  run: uv run tombi lint {staged_files}

Automatically rerun failed tests (#257)
  pyproject.toml
  src/openneuro/tests/test_download.py
  uv.lock
Due: ruff-lint, ruff-format, mypy, tombi-format, tombi-lint

Move tests directory to project root (#259)
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/data/expected_file_count_test_cases.json
  tests/data/expected_files_test_cases.json
  tests/data/mock_metadata_ds000117.json
  tests/data/traverse_dir_test_cases.json
  tests/test_config.py
  tests/test_download.py
  tests/utils.py
Due: ruff-lint, ruff-format, mypy, tombi-format, tombi-lint

Test with Python 3.14 and clean up some actions (#258)
  .github/workflows/autofix.yml
  .github/workflows/python-publish.yml
  .github/workflows/run-tests.yml
  .python-version
  pyproject.toml
  uv.lock
Due: tombi-format, tombi-lint

Replace `mypy` with `ty` type checker (#260)
  .vscode/extensions.json
  lefthook.yml
  pyproject.toml
  src/openneuro/_download.py
  tests/conftest.py
  uv.lock
Due: ruff-lint, ruff-format, mypy, tombi-format, tombi-lint

Add `UP` rule to `ruff` linter (#261)
  pyproject.toml
  src/openneuro/_cli.py
Due: ruff-lint, ruff-format, mypy, tombi-format, tombi-lint

Rename `lefthook` config (#263)
  .lefthook.yml
Due: none

Run pre-commit hook in stages
  .lefthook.yml
Due: none

Make it more robust
  .lefthook.yml
Due: none

Revert
  .lefthook.yml
Due: none

Blank line
  .lefthook.yml
Due: none

Run pre-commit hooks in stages (#264)
  .lefthook.yml
Due: none

Replace typer-slim dependency with typer
  pyproject.toml
  uv.lock
Due: tombi-format, tombi-lint

Replace typer-slim with typer (#267)
  pyproject.toml
  uv.lock
Due: tombi-format, tombi-lint

Update the homepage address (#268)
  pyproject.toml
Due: tombi-format, tombi-lint

Add instructions for AI agents (#269)
  .vscode/extensions.json
  AGENTS.md
Due: none

Add `openneuro` entry point
  src/openneuro/__main__.py
Due: ruff-lint, ruff-format, mypy

Better support for users behind a corporate firewall with custom certificates
  pyproject.toml
  src/openneuro/_download.py
  uv.lock
Due: ruff-lint, ruff-format, mypy, tombi-format, tombi-lint

Update dependabot settings to inspect `uv` and to group updates (#272)
  .github/dependabot.yml
Due: none

Add test
  .github/workflows/run-tests.yml
Due: none

revert formatting changes
  .github/workflows/run-tests.yml
Due: none

Add `openneuro` entry point (#270)
  .github/workflows/run-tests.yml
  src/openneuro/__main__.py
Due: ruff-lint, ruff-format, mypy

Suggest to always use the `latest` version of the package when runnin via `uvx`
  README.md
Due: none

Better support for users behind a corporate firewall with custom certificates (#271)
  pyproject.toml
  src/openneuro/_download.py
  uv.lock
Due: ruff-lint, ruff-format, mypy, tombi-format, tombi-lint

Add a post-merge hook to remind devs to re-sync their environment after project definitions have changed (#276)
  .lefthook.yml
  README.md
Due: none

Suggest to always use the `latest` version of the package when runnin via `uvx` (#277)
  README.md
Due: none

Improve retry check (#265)
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Use context for TLS certificate verification (#278)
  src/openneuro/_download.py
  tests/test_download.py
Due: ruff-lint, ruff-format, mypy

Update license entries in `pyproject.toml` to match new schema
  pyproject.toml
Due: tombi-format, tombi-lint

Update license entries in `pyproject.toml` to match new schema (#285)
  pyproject.toml
Due: tombi-format, tombi-lint

Fix semaphore double-release on download retry (#286)
  src/openneuro/_download.py
  tests/test_download.py
Due: ruff-lint, ruff-format, mypy

Improve retry messages to show actual error reason
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

More specific timeout check
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Show full URL in traceback
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Improve performance when checking if a target directory is empty
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Update src/openneuro/_download.py
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Fetch directory metadata in parallel during dataset traversal
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Re-use threadpool
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Fix URL in welcome message
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Fix URL in welcome message (#290)
  src/openneuro/_download.py
Due: ruff-lint, ruff-format, mypy

Fix race condition
  src/openneuro/_download.py
  tests/test_download.py
Due: ruff-lint, ruff-format, mypy

Path conditions:
  ruff-lint: any of: *.py
  ruff-format: any of: *.py
  mypy: any of: *.py
  tombi-format: any of: *.toml
  tombi-lint: any of: *.toml
